<html>

<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="script.js"></script>
</head>

<body>
	<form>
		<input type="text" name="name" id="search_word"><br>
		<button type="submit" id="search">SEARCH</button>
	</form> 
	<div id="posters"></div>
</body>

</html>